.issues-search__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.issues-search__header h2 {
  margin-bottom: 0;
}

.issues-search .search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.issues-search .search-form .search-form__query {
  flex: 1 1 0%;
  margin: 0 8px;
}

.issues-search ul {
  margin: 24px 0;
}
