.page {
  width: 100vw;
  min-height: 100vh;
}

.page > .content {
  display: flex;
  flex-direction: row;
}

.page > .content > * {
  flex: 1 1 0%;
  padding: 24px;
}

.page .time-entry-form {
  margin-top: 16px;
}

@media only screen and (max-width: 600px) {
  .page > .content {
    flex-direction: column;
  }
}